body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'sans-serif';
}

.largeLeftContainer {
    width: 10%;
    float: left;
    position: fixed;
    background-color: aliceblue;
    border: solid aliceblue;
    height: 25vh;
    margin-top: 25%;
    display: none;
}
.largeRightContainer {
    border:solid black;
    padding:12px;
    height: 100%;
    width:100%;
    padding-left:25%;
    display: block;
}
.largeMovieName{
    display: none
}
.medMovieName{
    display: none
}
.smallMovieName{
    border: black;
    color: black;
    height: 55px;
    height: 55px;
}
.largeMoviePicture {
    height: 55vh;
    height: 55vh;
}
.largePic {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    display: none;
}
.medPic {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    display: none;
}
.smallPic {
    width: 250px;
    height: 100%;
    
}
.largeActorName{
    display: none;
}
.medActorName{
    display: none;
}
.smallActorName{
    display: ;
}
.largeMainActor {
    max-width: 80%;
    display: none;
}
.medMainActor {
    max-width: 80%;
    display: none;
    
}
.smallMainActor {
    max-width: 80%;
    
    
}
.largeActor {
    width: 100%;
    height: 100%;
    display: none;
}
.medActor {
    width: 100%;
    height: 100%;
    display: none;
}
.smallActor {
    width: 100%;
    height: 100%;
    
}
.synContainer{
    display: flex;
}
.largeSyn{
    border-radius: 0.5rem;
    max-width: 80%;
    background-color: brown;
    padding: 0%;
    text-align: center;
    display: none;
}
.medSyn{
    border-radius: 0.5rem;
    max-width: 80%;
    background-color: brown;
    padding: 0%;
    text-align: center;
    display: none;
}
.smallSyn{
    border-radius: 0.5rem;
    max-width: 80%;
    background-color: brown;
    padding: 0%;
    text-align: center;
    
}
.largeStarRating {
    user-select: none;
    max-width: 80%;
    background-color: salmon;
    border-radius: 0.5rem;
    text-align: center;
}
.star {
    font-size: 3vh;
    color: orange;
    background-color: unset;
    border: none;
}
.star:hover {
    cursor: pointer;
}
